.container {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
  .job {
    display: flex;
    flex-flow: column nowrap;
    // row-gap: 5px;
    box-shadow: 0 0 1px rgb(212, 212, 212);
    padding: 20px;
    &:hover{
      box-shadow: 0 0 2px rgb(212, 212, 212);
      border-radius: 20px;
    }
    .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    .card {
      width: 95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .footer{
      margin-top: 10px;
      display: flex;
      flex-flow: row nowrap;
      column-gap: 30px;
    }
  }
}
