$backgroundColor1: rgb(228, 226, 226);
$backgroundColor2: #f8f4f4;
$padding1: 20px;
$shadow: #eeeeee;
$rowGap1: 8px;
$columGap1: 10px;

.container {
  background-color: $backgroundColor1;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
  padding: 20px;
  .topNav {
    background-color: #fff;
    padding: $padding1;
    box-shadow: 0 0 2px #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .name {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      .editIcon {
        background-color: lawngreen;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }
      .sub {
        display: flex;
        flex-flow: column nowrap;
      }
    }
    .image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      .editContaier {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .editIcon {
          background-color: lawngreen;
          width: 30px;
          height: 30px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
        }
      }

      .enlarge {
        width: 300px;
        height: 300px;
        position: absolute;
        right: 10px;
        z-index: 4;
        border-radius: 0;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }
    &:hover {
      box-shadow: 0 0 1px $shadow;
    }
  }
  .about {
    background-color: #fff;
    padding: $padding1;
    box-shadow: 0 0 2px #fff;
    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .editIcon {
        background-color: lawngreen;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }
    }
    &:hover {
      box-shadow: 0 0 1px $shadow;
    }
  }
  .edu {
    background-color: #fff;
    padding: $padding1;
    box-shadow: 0 0 2px #fff;
    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .editIcon {
        background-color: lawngreen;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }
    }
    .sub {
      display: flex;
      flex-flow: column nowrap;
      row-gap: $rowGap1;
      .education {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        column-gap: $columGap1;
        width: 100%;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 6px;
        .value{
          flex: 1;
        }
        .editIcon {
          // flex: 1;
          background-color: lawngreen;
          width: 30px;
          height: 30px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
        }
      }
    }
    &:hover {
      box-shadow: 0 0 1px $shadow;
    }
  }
  .prevPos {
    background-color: #fff;
    padding: $padding1;
    box-shadow: 0 0 2px #fff;
    &:hover {
      box-shadow: 0 0 1px $shadow;
    }
    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .editIcon {
        background-color: lawngreen;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }
    }
    .sub {
      display: flex;
      flex-flow: row wrap;
      //   justify-content: space-around;
      row-gap: $rowGap1;
      column-gap: $columGap1;
      .inner {
        display: flex;
        flex-flow: column nowrap;
        background-color: #f5f5f5;
        padding: $padding1;
        // max-width: 40%;
        width: fit-content;
        height: fit-content;
        .editIcon {
          background-color: lawngreen;
          width: 30px;
          height: 30px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
        }
        .prev {
          overflow-wrap: break-word;

          .top {
            .value {
              padding: 5px;
            }
          }
        }
      }
    }
  }
  .skills {
    background-color: #fff;
    padding: $padding1;
    box-shadow: 0 0 2px #fff;
    &:hover {
      box-shadow: 0 0 1px $shadow;
    }
    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .editIcon {
        background-color: lawngreen;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }
    }
    .sub {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      row-gap: 20px;
      column-gap: $columGap1;
      .skill {
        padding: 5px;
        position: relative;
        height: fit-content;
        width: fit-content;
        background-color: #f5f5f5;
        border-radius: 12px;
        overflow-wrap: break-word;
        // max-width: 40%;
        .span {
          position: absolute;
          top: -15px;
          right: -15px;
          background-color: lawngreen;
          color: white;
          width: 24px;
          height: 24px;
          border-radius: 14px;
          text-align: center;
        }
      }
    }
  }
  .projects {
    background-color: #fff;
    padding: $padding1;
    box-shadow: 0 0 2px #fff;
    &:hover {
      box-shadow: 0 0 1px $shadow;
    }
    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .addIcon {
        background-color: lawngreen;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }
    }
    .sub {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      column-gap: $columGap1;
      .inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        row-gap: $columGap1;
        margin-bottom: 20px;
        border: 2px solid #eeeeee;
        padding: 20px;
        border-radius: 20px;
        .title {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          column-gap: 30px;
          .editIcon {
            background-color: lawngreen;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
          }
        }
        .description,
        .title,
        .link {
          padding-left: $padding1;
          padding-right: $padding1;
        }
        .link {
        }
      }
    }
  }
  .contacts {
    background-color: #fff;
    padding: $padding1;
    box-shadow: 0 0 2px #fff;
    &:hover {
      box-shadow: 0 0 1px $shadow;
    }
    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .editIcon {
        background-color: lawngreen;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }
    }
    .sub {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      .contact {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .type {
          background-color: #f5f5f5;
          padding: 5px;
          border-radius: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .topNav {
      flex-flow: column nowrap;
      .image {
        .enlarge {
          width: 70vw !important;
          height: 70vw !important;
        }
      }
    }
  }
}
