.main {
  // height: ;
  display: flex;
  flex-flow: column nowrap;
  width: calc(100vw - 330px);
  .chatBox {
    height: calc(100vh - 170px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    // width: 100%;
    .friend {
      background-color: rgb(207, 241, 240);
      border-radius: 0 12px 12px 12px;
      max-width: 50%;
      width: fit-content;
      height: fit-content;
      margin-top: 15px;
      margin-left: 5%;
      padding: 2px 8px 2px 8px;
      min-height: 30px;
      overflow-wrap: break-word;
      box-shadow: 0 0 1px grey;
      .msg {
        font-size: 12px;
      }
    }
    .you {
      background-color: aliceblue;
      border-radius: 12px 0 12px 12px;
      margin-top: 15px;
      max-width: 50%;
      margin-left: auto;
      margin-right: 5%;
      overflow-wrap: break-word;
      width: fit-content;
      height: fit-content;
      min-height: 30px;
      padding: 1px 8px 1px 8px;
      box-shadow: 0 0 1px grey;
      .msg {
        font-size: 12px;
      }
      .ticks {
        font-size: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        font-style: italic;
      }
    }
  }
  .inputBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    // padding: 10px;
    height: 50px;
    background-color: rgb(242, 242, 242);
    width: 100%;
    .inputContainer{
      width: 70%;
        position: relative;
        min-height: 42px;

      textarea {
        margin-right: 10px;
        width: 95%;
        outline: none;
        border: 1px solid gainsboro;
        padding: 5px;
        border-radius: 25px;
        font-weight: 500;
        font-size: 16px;
        position: absolute;
        resize: none;
        bottom: 0;
      }
    }
    
    .sendBtn {
      height: 42px;
      width: 42px;
      border-radius: 21px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 1%;
      background-color: gainsboro ;
      :hover{
        opacity: 0.8;
      }

    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100% !important;
    .chatBox {

      .you {
        margin-right: 2%;
        max-width: 78%;
        font-size: 14px;
      }
      .friend {
        margin-left: 2%;
        max-width: 78%;
        font-size: 14px;
      }
    }
   
  }
}

@media only screen and (max-width: 700px) {
  .main {
    .chatBox {
      .you {
        margin-right: 2%;
        max-width: 78%;
      }
      .friend {
        margin-left: 2%;
        max-width: 78%;
      }
    }
    .inputBox {
      .inputContainer{
        width: calc(100% - 52px);
        textarea{
          margin-right: 5%;
        }
      }
    }
    
  }
}
