
.container {
    margin-top: 10px;
    .jobs {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 5%;
        .header {
        }
        .jobContainer {
          .jobCard {
            margin-bottom: 30px;
            border: 1px solid #f8f4f4;
            padding: 10px;
            border-radius: 12px;
           
            &:hover{
             border-width: 2px; 
            }
            .cardHeader {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              .jobTitle{
                // flex: 1;
                white-space: nowrap;
                max-width: 150px;
                text-overflow: ellipsis;
                overflow: hidden;
                
              }
              .date{
                white-space: nowrap;
              }
              .headerIcons {
                // flex: 1;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                column-gap: 12px;
                // color: grey;
                
                .icons{
                  display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    column-gap: 10px;
                    border: 2px solid lawngreen ;
                    border-radius: 15px;
                  .applicants,
                  .views {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    border: 1px solid lawngreen ;
                    padding-right: 5px;
                    border-radius: 15px;
                    font-size: 12px !important;
                align-items: center;
                padding-left: 4px;
                padding-left: 4px;
    
                  }
                }
                
              }
            }
            .descriptrion{
              overflow: hidden !important;
              .desc{
                display: -webkit-box; 
                -webkit-box-orient: vertical; 
                -webkit-line-clamp: 2; 
                overflow: hidden; 
                text-overflow: ellipsis; 
              }
              .skills{
                display: flex;
                flex-flow: row nowrap;
                column-gap: 20px;
                color: grey;
                overflow: hidden;
                text-overflow: ellipsis;
                .skillsH{
                  white-space: nowrap;
                }
                .skillsV{
                  font-size: 12px;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
            .footer{
              .sub1{
                display: flex;
                flex-flow: row wrap;
                column-gap: 20px;
                row-gap: 8px;
                color: grey;
                .address,.jobcondition{
                  display: flex;
                  flex-flow: row nowrap;
                  justify-content: space-between;
                  align-items: center;
                }
              }
              .sub3{
                .liked{
                  color: lawngreen;
                  transition: all 1s ease-in-out 0.5s;
                  &:hover{
                    font-size: 30px;
                  }
                }
              }
            }
          }
        }
      }
}
