.container {
    display: flex;
    flex-flow: row nowrap;
    .chatList {
      display: flex;
      flex-flow: column nowrap;
      height:calc(100vh - 75px);
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: rgb(242, 242, 242);
      .active{
        width: 300px;
        display: flex;
        flex-flow: row nowrap;
        // justify-content: space-around;
        align-items: center;
        text-decoration: none;
        background-color: gainsboro;
        padding: 5px;
        overflow: hidden;
        min-height: 50px;
        color: grey;
        column-gap: 10px;
        .onlineIndicator{
          // animation: ripple 1.2s infinite ease-in-out;
          border: solid white 2px;
          border-radius: 6px;
        }
        &:hover {
          opacity: 0.6;
        }
        .text {
          width: inherit;
          display: flex;
          flex-flow: column nowrap;
          .name {
            // font-weight: 600;
            // font-size: 18px;
            width: 160px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .lastMsg {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 12px;
            width: 160px;
          }
        }
      }
      .List {
        display: flex;
        flex-flow: row nowrap;
        width: 300px;
        // justify-content: space-around;
        align-items: center;
        text-decoration: none;
        background-color: rgb(245, 245, 245);
        padding: 5px;
        overflow: hidden;
        min-height: 50px;
        color: grey;
        column-gap: 10px;
        &:hover {
          opacity: 0.6;
        }
        .onlineIndicator{
          // animation: ripple 1.2s infinite ease-in-out;
          border: solid white 2px;
          border-radius: 6px;
        }
        .text {
          width: inherit;
          display: flex;
          flex-flow: column nowrap;
          .name {
            // font-weight: 600;
            // font-size: 18px;
            width: 160px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .lastMsg {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 12px;
            width: 160px;
          }
        }
      }
    }
  }
  // @keyframes ripple {
  //   0%{
  //     transform: scale(.8);
  //     opacity: 1;
  //   }
  //   100%{
  //     transform: scale(2.4);
  //     opacity: 0;
  //   }
  // }
  @media only screen and (max-width: 600px) {
    .container{
      .chatList{
        display: none !important;
      }
      .left{
        width: 100% !important;
      }
    }
  }